div {
	margin: auto;
}

.orange {
	width: 350px;
	background-color: #DE8704;
	color: #D4CB27;
}

.form {
	width: 350px;
	background-color: #222536;
	color: #C2BD36;
}

table.form {
	height: 400px;
}

button {
	border: none;
	padding: 10px 25px;
	cursor: pointer;
}

button.submit {
	background-color: #62AF5E;
}

button.cancel {
	background-color: #D9544F;
}
 
td.label, td.button {
	text-align: right;
}